extends layout 

block content 
    h1= title
    div.container-fluid
        div.row
            each item, index in results
                div.col-sm-2(onclick=`buy(${index})`) #{item["employee_Name"]}, #{item["employee_age"]}, #{item["employee_salary"]}
        

    script. 
        function buy(index) {
            alert("You purchased item " + index);
        }
    
        